
h1 {
  margin: 8px 0;
  outline: none;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: burlywood;
  color: white;
  font-weight: 600;
}

.title {
  padding-left: 1rem;
  cursor: pointer;
}

.login {
  margin-right: 1rem;
}
