@import '../../../styles.scss';

:host {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: flex-start;
  // background-color: #EEEEEE;
  // border: 1rem solod #B86E53;
  // border-radius: 12% 12%;
  // margin-bottom: 2rem;
  // padding: 2rem;
  // max-width: 20rem;
  width: 16rem;
  margin: 0 1rem 3rem 1rem;
  // box-shadow: 0 4px 17px rgba(black, 0.35);
  // box-shadow: 0 2px 10px rgba(#96692F, 0.35);
  box-shadow: 0 2px 10px rgba(black, 0.15);
  padding: 1rem;
}

div {
  margin: 0;
  cursor: default;
}

dl {
  margin-bottom: 0.1rem;
  cursor: default;
}

dt {
  // background-color: #FFF1DF;
  background-color: #EFEFEF;
  color: #be6013;
  padding: 0.1rem 0.2rem;
}

dd {
  // background-color: #FFF1DF;
  margin-bottom: 1rem;
  padding-top: 0.2rem;
  text-align: right;
}

.icon-on-1 {
  color: #deb887;
}

.icon-on-2 {
  color: #d49d56;
}

.icon-on-3 {
  color: #cf8932;
}

.icon-on-4 {
  color: #c87717;
}

.icon-on-5 {
  color: #c46e16;
}

.icon-off {
  color: #999;
}

.even {
  // color: #FFE3BF;
  // color: #be6013;
}

.text-align-left {
  text-align: start;
}

#recipe-header {
  min-height: 26rem;
}

#name {
  height: 2.5rem;
  font-size: 1rem;
}

#tast {
  display: flex;
  flex-direction: column;
}

#expansion-panel-container {
  // margin-top: 1rem;

  dt {
    // color: #333;
    // background-color: #FFE3BF;
  }

  .even {
    // color: #333;
    // background-color: #FFE3BF;
  }

  mat-expansion-panel {
    margin-top: 0.5rem;

    mat-panel-title {
      color: #888;
    }
  }
}

#control {
  margin-top: 1rem;
}

.example-button-row {
  display: flex;
  justify-content: flex-end;
}

.example-button-row button {
  margin-left: 8px;
}


