<div id="recipe-header">
  <div id="name">
    <span>{{recipe.name}}</span>
  </div>
  <div id="evaluation">
    <dl>
      <dt [class.even]="even">評価</dt>
      <dd>
        <mat-icon [style.color]="isBright(1, this.recipe.evaluation.rating) ? '#deb887' : '#999'">star_rate</mat-icon>
        <mat-icon [style.color]="isBright(2, this.recipe.evaluation.rating) ? '#deb887' : '#999'">star_rate</mat-icon>
        <mat-icon [style.color]="isBright(3, this.recipe.evaluation.rating) ? '#deb887' : '#999'">star_rate</mat-icon>
        <mat-icon [style.color]="isBright(4, this.recipe.evaluation.rating) ? '#deb887' : '#999'">star_rate</mat-icon>
        <mat-icon [style.color]="isBright(5, this.recipe.evaluation.rating) ? '#deb887' : '#999'">star_rate</mat-icon>
      </dd>
      <dt [class.even]="even">苦味と酸味のバランス</dt>
      <dd >
        <!-- 1つ目　-->
        <ng-container *ngIf="1 === this.recipe.evaluation.taste; else elseContentTaste1">
          <mat-icon matBadge="酸" matBadgePosition="after" matBadgeColor="primary" class="icon-on-1">stop</mat-icon>
        </ng-container>
        <ng-template #elseContentTaste1>
          <mat-icon class="icon-off">stop</mat-icon>
        </ng-template>
        <!-- 2つ目　-->
        <ng-container *ngIf="2 === this.recipe.evaluation.taste; else elseContentTaste1">
          <mat-icon matBadge="酸" matBadgePosition="after" matBadgeColor="primary" class="icon-on-2">stop</mat-icon>
        </ng-container>
        <ng-template #elseContentTaste1>
          <mat-icon class="icon-off">stop</mat-icon>
        </ng-template>
        <!-- 3つ目　-->
        <ng-container *ngIf="3 === this.recipe.evaluation.taste; else elseContentTaste1">
          <mat-icon matBadge="バ" matBadgePosition="after" matBadgeColor="primary" class="icon-on-3">stop</mat-icon>
        </ng-container>
        <ng-template #elseContentTaste1>
          <mat-icon class="icon-off">stop</mat-icon>
        </ng-template>
        <!-- 4つ目　-->
        <ng-container *ngIf="4 === this.recipe.evaluation.taste; else elseContentTaste1">
          <mat-icon matBadge="苦" matBadgePosition="after" matBadgeColor="accent" class="icon-on-4">stop</mat-icon>
        </ng-container>
        <ng-template #elseContentTaste1>
          <mat-icon class="icon-off">stop</mat-icon>
        </ng-template>
        <!-- 5つ目　-->
        <ng-container *ngIf="5 === this.recipe.evaluation.taste; else elseContentTaste1">
          <mat-icon matBadge="苦" matBadgePosition="after" matBadgeColor="accent" class="icon-on-5">stop</mat-icon>
        </ng-container>
        <ng-template #elseContentTaste1>
          <mat-icon class="icon-off">stop</mat-icon>
        </ng-template>
      </dd>
      <dt [class.even]="even">コク</dt>
      <dd>
        <mat-icon [style.color]="isBright(1, this.recipe.evaluation.density) ? '#deb887' : '#999'">stop</mat-icon>
        <mat-icon [style.color]="isBright(2, this.recipe.evaluation.density) ? '#d49d56' : '#999'">stop</mat-icon>
        <mat-icon [style.color]="isBright(3, this.recipe.evaluation.density) ? '#cf8932' : '#999'">stop</mat-icon>
        <mat-icon [style.color]="isBright(4, this.recipe.evaluation.density) ? '#c87717' : '#999'">stop</mat-icon>
        <mat-icon [style.color]="isBright(5, this.recipe.evaluation.density) ? '#c46e16' : '#999'">stop</mat-icon>
      </dd>
      <dt [class.even]="even">雑味</dt>
      <ng-container *ngIf="0 === this.recipe.evaluation.harshness; else elseContentHarshness">
        <dd>雑味なし</dd>
      </ng-container>
      <ng-template #elseContentHarshness>
        <dd>
          <mat-icon [style.color]="isBright(1, this.recipe.evaluation.harshness) ? '#c0dfd2' : '#999'">stop</mat-icon>
          <mat-icon [style.color]="isBright(2, this.recipe.evaluation.harshness) ? '#98ccb6' : '#999'">stop</mat-icon>
          <mat-icon [style.color]="isBright(3, this.recipe.evaluation.harshness) ? '#73b89a' : '#999'">stop</mat-icon>
          <mat-icon [style.color]="isBright(4, this.recipe.evaluation.harshness) ? '#5da887' : '#999'">stop</mat-icon>
          <mat-icon [style.color]="isBright(5, this.recipe.evaluation.harshness) ? '#4f9976' : '#999'">stop</mat-icon>
        </dd>
      </ng-template>
      <dt [class.even]="even">コメント</dt>
      <dd class="text-align-left">{{recipe.evaluation.comment}}</dd>
    </dl>
  </div>
</div>
<div id="expansion-panel-container">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        使った豆
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div id="beans">
        <dl>
          <dt [class.even]="even">豆の産地</dt>
          <dd>{{recipe.beans.origin}}</dd>
          <dt [class.even]="even">購入した店舗</dt>
          <dd>{{recipe.beans.shop}}</dd>
          <dt [class.even]="even">ロースト</dt>
          <dd>{{recipe.beans.roast}}</dd>
          <dt [class.even]="even">挽き目（粒度）</dt>
          <dd>{{recipe.beans.grain}}</dd>
        </dl>
      </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        淹れ方
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div id="style">
        <dl>
          <dt [class.even]="even">豆の量</dt>
          <dd>{{recipe.style.beansAmount}}g</dd>
          <dt [class.even]="even">蒸らし時間</dt>
          <dd>{{recipe.style.steamTime}}秒</dd>
          <dt [class.even]="even">抽出時間</dt>
          <dd>{{recipe.style.extractionTimeMinute}}分{{recipe.style.extractionTimeSecond}}秒</dd>
          <dt [class.even]="even">出来上がりの量</dt>
          <dd>{{recipe.style.productAmount}}ml</dd>
        </dl>
      </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        メモ
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>{{recipe.memo}}</p>
  </mat-expansion-panel>
</div>
<div id="control">
  <div class="example-button-row">
    <!-- <button mat-flat-button color="primary">変更</button> -->
    <button mat-flat-button color="primary" (click)="onDelete()">削除</button>
  </div>
</div>
