<!-- ツールバー -->
<app-toolbar></app-toolbar>

<div class="content" role="main">

  <!-- メッセージ -->
  <div class="message">
    <!-- iconboxの素材 -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><title>840_ch_f</title><rect width="36" height="36" fill="none"/><circle cx="24" cy="24" r="18" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/><polyline points="16.09 25.49 21.62 31.02 32.91 19.73" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/></svg>
    <p>
      ユーザー情報を登録しました。
    </p>
  </div>

  <div class="menu-container">
    <div class="card-container">

      <a class="card" routerLink="/login">
        <span>ログインする</span>
      </a>

    </div>
  </div>

</div>
