@import '../../../styles.scss';

.recipe-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 0;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.form-field {
  width: 100%;
}

mat-expansion-panel {
  width: 16rem;
  margin-top: 0.5rem;

  mat-panel-title {
    color: #888;
  }
}

// app-tips {
  // position: fixed;
  // bottom: 70px;
  // right: 20px;
  // z-index: 10;
  // width: 1920px;
// }

// svg#clouds {
  // position: fixed;
  // bottom: -160px;
  // left: -230px;
  // z-index: -10;
  // width: 1920px;
// }
