@import '../../../styles.scss';

.recipe-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 0;
}

// app-tips {
  // position: fixed;
  // bottom: 70px;
  // right: 20px;
  // z-index: 10;
  // width: 1920px;
// }

// svg#clouds {
  // position: fixed;
  // bottom: -160px;
  // left: -230px;
  // z-index: -10;
  // width: 1920px;
// }
