@import '../../../styles.scss';

.message {
  text-align: center;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.menu-container {
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  align-items: center;

  h2 {
    margin: 0;
    padding: 0;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  color: brown;
}

app-tips {
  position: relative;
  margin-top: 64px;
  margin-right: 20px;
  z-index: -5;
  box-sizing: content-box;
}
