@import '../../../styles.scss';

.message {
  text-align: center;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #96692F;
}

app-tips {
  position: relative;
  margin-top: 64px;
  margin-right: 20px;
  z-index: -5;
  box-sizing: content-box;
}
